.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center ;
    gap: 5px;
}
.product-card{
    width: 300px;
    height: 100px;
    border:2px solid green;
    box-shadow: 2px 2px 3px -2px white;
}

/* .product-card-title{
    color: red;
}
.product-card-title{
    color:green;
} */